header {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
}
header .row > div {
  text-align: center;
}
header .row > div:nth-of-type(-n+3) {
  border-right: 1px solid #ccc;
}
header .row > div:nth-last-of-type(1) > .btn-danger {
  padding: 3px 5px;
}
header .row > div:nth-last-of-type(1) > .btn-link {
  color: #333;
}
header .wjs_code {
  display: block;
  position: relative;
  text-align: center;
}
header .wjs_code > img {
  position: absolute;
  top: 48px;
  left: 50%;
  display: none;
  transform: translateX(-50%);
  border: 1px solid #ccc;
  border-top: none;
}
header .wjs_code:hover > img {
  display: block;
}
.wjs_nav.navbar {
  margin-bottom: 0px;
}
.wjs_nav .navbar-brand {
  height: 80px;
  line-height: 50px;
}
.wjs_nav .navbar-brand > .wjs_icon {
  font-size: 40px;
}
.wjs_nav .navbar-brand > .wjs_icon_logo {
  color: #e92322;
}
.wjs_nav .navbar-brand > .wjs_icon_text {
  color: #333;
}
.wjs_nav .navbar-toggle {
  margin-top: 23px;
}
.wjs_nav .navbar-nav {
  font-size: 16px;
}
.wjs_nav .navbar-nav .active > a {
  background-color: transparent;
  border-bottom: 3px solid #e92322;
}
.wjs_nav .navbar-nav a {
  line-height: 50px;
}
.wjs_nav .navbar-nav a:hover {
  background-color: transparent;
  border-bottom: 3px solid #e92322;
}
.wjs_nav .navbar-nav a .navbar-collapse > ul {
  height: 80px;
  line-height: 50px;
}
.carousel-inner > .item .mobileImg > img {
  width: 100%;
}
.carousel-inner > .item > .pcImg {
  width: 100%;
  height: 410px;
  background-size: cover;
  background-position: center center;
}
.wjs_info {
  padding: 30px;
}
.wjs_info .row > div {
  margin-top: 10px;
}
.wjs_info .wjs_icon_E900 {
  font-size: 30px;
}
.wjs_info .row a:hover {
  color: #e92322;
}
.wjs_reverse .row > div {
  height: 60px;
  line-height: 60px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  padding: 0 20px;
  text-align: center;
}
.wjs_reverse .row > div > .wjs_icon {
  font-size: 18px;
}
.wjs_reverse .row > div > .yuyue {
  color: #e92322;
  border-bottom: 1px dashed #e92322;
}
.wjs_reverse .row > div > a:hover {
  color: #e92322;
}
.wjs_product {
  background-color: #eee;
}
.wjs_product .row > .active > .wjs_pBox {
  background-color: #e92322;
}
.wjs_product .row > .active > .wjs_pBox p,
.wjs_product .row > .active > .wjs_pBox sub,
.wjs_product .row > .active > .wjs_pBox b {
  color: #fff;
}
.wjs_product .row > .active > .wjs_pBox > .wjs_pLeft::before {
  content: "\e915";
  font-family: "wjs";
  position: absolute;
  top: 15px;
  left: 15px;
  color: #fff;
  font-size: 25px;
}
.wjs_product .wjs_pBox {
  height: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
}
.wjs_product .wjs_pBox > .wjs_pLeft {
  margin-right: 100px;
  height: 150px;
  padding-top: 10px;
}
.wjs_product .wjs_pBox > .wjs_pLeft > p {
  text-align: center;
}
.wjs_product .wjs_pBox > .wjs_pLeft > .row {
  margin-left: -10px;
  margin-right: -10px;
}
.wjs_product .wjs_pBox > .wjs_pLeft > .row p {
  font-size: 12px;
}
.wjs_product .wjs_pBox > .wjs_pLeft > .row > div:nth-of-type(even) {
  text-align: right;
}
.wjs_product .wjs_pBox > .wjs_pRight {
  width: 100px;
  height: 150px;
  position: absolute;
  top: 20px;
  right: 15px;
  border-left: 1px dashed #ccc;
  padding-top: 30px;
  text-align: center;
}
.wjs_product .wjs_pBox > .wjs_pRight > b {
  font-size: 40px;
  color: #e92322;
}
.wjs_product .wjs_pBox > .wjs_pRight sub {
  color: #e92322;
  bottom: 0;
}
.wjs_product .wjs_pBox > .wjs_pRight p {
  font-size: 14px;
}
.wjs_product .wjs_pBox > .wjs_pRight::before,
.wjs_product .wjs_pBox > .wjs_pRight::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #eee;
  position: absolute;
  left: -5px;
}
.wjs_product .wjs_pBox > .wjs_pRight::before {
  top: -5px;
}
.wjs_product .wjs_pBox > .wjs_pRight::after {
  bottom: -5px;
}
.wjs_product .wjs_pBox > .wjs_pRight > .wjs_tip {
  width: 100%;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.wjs_product .wjs_pBox > .wjs_pRight > .wjs_tip > span:nth-of-type(1) {
  border: 1px solid red;
}
.wjs_product .wjs_pBox > .wjs_pRight > .wjs_tip > span:nth-of-type(2) {
  border: 1px solid blue;
}
.wjs_news {
  padding-top: 30px;
}
.wjs_news .wjs_nTitle {
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.wjs_news .wjs_nTitle::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #ccc;
  position: absolute;
  right: -8px;
  bottom: -3px;
}
.wjs_news .news_line {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  border-left: 1px dashed #e92322;
  top: 0;
  left: 45px;
}
.wjs_news .nav-tabs {
  border-bottom: none;
}
.wjs_news .nav-tabs > .active a {
  border: none;
  background-color: #e92322;
}
.wjs_news .nav-tabs .active a:hover {
  border: none;
}
.wjs_news .nav-tabs > li {
  margin-bottom: 60px;
}
.wjs_news .nav-tabs > li > a {
  line-height: 60px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ddd;
  border: none;
}
.wjs_news .nav-tabs > li > a:hover {
  background-color: #e92322;
}
.wjs_news .nav-tabs > li .wjs_icon {
  text-align: center;
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(50%);
}
.wjs_news .nav-tabs > li:last-of-type {
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .wjs_news .nav-tabs > li {
    margin: 20px 30px;
  }
}
@media screen and (max-width: 768px) {
  .wjs_news .nav-tabs > li {
    margin: 20px 0;
    width: 25%;
  }
}
.wjs_news .wjs_newslist {
  list-style: none;
}
.wjs_news .wjs_newslist > li {
  line-height: 47px;
}
.wjs_partner {
  background-color: #ccc;
}
.wjs_partner h3 {
  text-align: center;
}
.wjs_partner ul {
  list-style: none;
}
.wjs_partner ul > li {
  float: left;
}
.wjs_partner ul > li > .wjs_icon {
  font-size: 50px;
  margin-right: 70px;
}
